<h2><%= @user.name %></h2>
<p>Mood:<%= @user.mood %></p>
<% if @user.admin == true %>
 <p>ADMIN<p>
 <%end%>


#binding.pry
<p><%= @user.height%></p>
<p><%= @user.tickets%></p>

<p><%= link_to 'Log Out', signout_path %>
<p><%= link_to 'See attractions', attractions_path %>