<% require 'pry' %> 
<% if current_user.admin %> 
    <h1> ADMIN </h1> 
    <%= current_user.name %> 
<% else %>
    <%= @user.name %> 
    <h1> Mood: happy </h1> 
    <h1> <%= @user.tickets %> /h1> 
    <h1> <%= @user.height %> </h1> 
<% end %> 
<%= link_to "Log Out", logout_path %> 
<%= link_to "See attractions", attractions_path %>
