<% require 'pry' %> 
<% if current_user.admin %> 
    <h1> ADMIN </h1> 
    <%= current_user.name %> 
    <%= link_to "See attractions", attractions_path %> 
<% else %>
    <h1> <%= @user.name %> </h1> 
    <h1> Mood: <%= @user.mood %></h1> 
    <h1> Tickets: <%= @user.tickets %> /h1> 
    <h1> <%= @user.height %> </h1> 
    <%= link_to "See attractions", attractions_path %>
<% end %> 

<% if @message %> 
        <p1><%= @message %> </p1>
    <% end %> 
<%= link_to "Log Out", logout_path %> 



