
<% if @user.admin %>
    <h1>ADMIN </h1>
<% end %>

# Need Walt Disney to come up for the @user.name
Name: <%= @user.name %><br>
Tickets: <%= @user.tickets %><br>
Mood: <%= @user.mood %><br>
Height: <%= @user.height %><br>
<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", destroy_session_path %>
