<% @attractions.each do |attraction| %>
    <% if current_user.admin == true %>
        <p><%= attraction.name %> <%= link_to "Show #{attraction.name}", attraction_path(attraction.id) %></p>
    <%else%>
        <p><%= attraction.name %>  <%= link_to "Go on #{attraction.name}", attraction_path(attraction.id)%></p>
    <%end%>
<%end%>
<% if current_user.admin == true %>
    <%= link_to "New Attraction", new_attraction_path %>
<%end%>